@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

.nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 32px 85px;
}

.nav h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.nav button {
    color: rgb(13, 19, 33);
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    margin: 32px 85px;
    border: 2px solid rgba(13, 19, 33, 0.8);
    border-radius: 8px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Hero-bg.png);
    height: 652px;
    margin: 0 auto 70px;
}

.hero-section img {
    padding: 40px 0;
    width: 240px;
    height: 240px;
}

.hero-section-content {
    padding: 0 221px;
    text-align: center;
}

.hero-section-content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}

.hero-section-content p {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    
    line-height: 24px;
    margin: 10px auto;
}

.hero-section button {
    width: 250px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin: 32px 0px;
}

/* hero-section ends here */


/* second-section-starts */
.second-section-margin {
    width: 1140px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.first-row{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    margin: 38px 0px;
}

.first-row h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    padding-bottom: 40px;
    text-align: center;
}

.first-row p,
.second-row p,
.third-row p {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

/* 1st row of second-section ends here*/

/* 2nd row of second-section starts here */

.second-row {
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin-bottom: 40px;

}

.second-row-contents,
.third-row-contents {
    width: 477px;
    text-align: left;
}

.second-row-contents h3,
.third-row-contents h3,
.fourth-row-contents h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 14px;
}

.second-row-contents p,
.fourth-row-contents p,
.third-row-contents>p {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 0 38px 0;
}

.second-row-contents button,
.third-row-contents button,
.fourth-row-contents button {
    width: 200px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    padding: 12px 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2nd row of second-section ends here*/

/* 3rd row of second-section starts here */

.third-row {
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin-bottom: 40px;
}

/* 3rd row of second-section ends here*/

/* 4th row of second-section starts here */
.fourth-row {
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin-bottom: 40px;
}

/* Second-section ends here*/

/* Third-section starts here*/

.third-section {
    width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 40px auto 0;
    margin-bottom: 40px;
}

.third-section-contents {
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    margin: 38px 0px;
}

.third-section-contents h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding: 0 0 20px 0px;
    text-align: center;
}

.third-section-contents p {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.Inspiration-video {
    border: 1;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;

}

/* third section ends here */

/* fourth section starts here */
.fourth-section{
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 40px auto 0;
}

.fourth-section-heading,
.fifth-section-heading {
    width: 852px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
}

.fourth-section-heading h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    margin: 0 ;
}

.fourth-section-heading p,
.fifth-section-heading p {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.fourth-section-skills {
    width: 1140px;
    height: 299px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    align-self: stretch;
    flex-grow: 0;
    margin: 48px 0px;
}

.skill-1 {
    width: 284px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin: 24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.skill-1 h2,
.skill-2 h2,
.skill-3 h2,
.column-1-content h2,
.column-2-content h2,
.column-3-content h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin: 0 auto 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 8px 0px;
}

.skill-1 img,
.skill-2 img,
.skill-3 img {
    width: 56px;
    height: 56px;
    text-align: left;

}

.skill-1 p,
.skill-2 p,
.skill-3 p,
.column-1-content p,
.column-2-content p,
.column-3-content p {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    text-align: left;
    margin: 8px 0px;
    text-align: left;
}

.skill-1 a,
.skill-2 a,
.skill-3 a,
.column-1-content a,
.column-2-content a,
.column-3-content a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.skill-2 {
    width: 284px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.skill-3 {
    width: 284px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin: 24px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* fourth section ends here */

/* fifth section starts here */
.fifth-section {
    width: 1140px;
    height:900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    margin: 0 auto 120px;
}
.fifth-section-heading h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding: 0;
    text-align: center;
    margin: auto 0 40px;
}

.column-1,
.column-2,
.column-3 {
    width: 1140px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin: 20px auto;
}

.column-1 .column-1-img,
.column-2 .column-2-img,
.column-3 .column-3-img {
    width: 20%;
    padding: 0 30px 0 0;
}

.column-1 .column-1-content,
.column-2 .column-2-content,
.column-3 .column-3-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

}

.support-section {
    width: 1140px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 48px;
    border-radius: 16px;
    background-image: url(./img/handshake.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin: 50px auto;
}

.support-section-content,
.support-section-form {
    margin: auto;
}

.support-section-content h3 {
    width: 292px;
    height: 36px;
    margin: 16px auto;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.support-section-content p {
    width: 606px;
    height: 52px;
    margin: 16px 0px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

input {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
}

form button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 58px;
    border: 1px solid rgba(13, 19, 33, 0.15);
}

footer {
    position: static;
    width: 1140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-section>h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}

.social-links>img {
    width: 36px;
    height: 36px;
}